body{
    background:url(images/fon.png) !important;
    margin:0px;
    font-family:Raleway;
    font-size:17px;
    font-weight:700;
    letter-spacing:0.1em;
}
/*для ip формы*/
#polosa{
    position:fixed;
    width:350px;
    height:100%;
    background:#523893;
    color:#33b1c7;
    box-shadow: 15px 0px 15px -5px rgba(0,0,0,0.50);
    z-index:10;
}
#dop_polosa{
    position:fixed;
    width:90px;
    height:100%;
    background:#523893;
    box-shadow: 15px 0px 15px -5px rgba(0,0,0,0.50);
    display:none;
}
#open_button_span{
    position:fixed;
    top:45%;
    left:25px;
}
.open_button{
    width:45px;
}
.close_button_span_style{
    position:fixed;
    top:20px;
    left:300px;
}
.close_button{
    height:25px;
    opacity: .3;
}
.close_small_polosa{
    display:none;

}
.open_small_polosa{
    display:block;
}
.logo{
    position:fixed;
    top:50px;
    left:42px;
    width:250px;
    font-size:35px;
    font-weight:800;
    font-family:got_regular;
    color:#3bd3eb;
}
.logo_linux_word{
    color:white;
}

.logo_picture{
    position:fixed;
    top:57px;
    left:176px;
    height:66px;
}

.menu_buttons{
    position:fixed;
    color:white;
    left:42px;
    top:215px;
    font-family:got_light;
    font-size:22px;
    font-weight:600;
}

.menu_button{
    height:24px;
    width:350px;
    margin-bottom:20px;
}

.buttons_menu_with_action{
    position:fixed;
    top:202px;
    height:40px;
    width:350px;
}
.button_menu_with_action{
    height:42px;
    width:350px;
    background: rgba(255, 255, 255, 0.0);
    border:none;
}

/*главная страница*/
#fon_main{
    position:fixed;
    left:500px;
    top:150px;
    width:900px;
}

#main_block_1{
    position:fixed;
    left:830px;
    top:240px;
    width:480px;
    height:200px;
    line-height: 1.8;
}
#main_block_2{
    position:fixed;
    left:590px;
    top:380px;
    width:700px;
    height:200px;
}
.main_block_fonts{
    font-family:got_light;
    font-size:22px;
    font-weight:600;
    color:white;
}
.logo_main{
    position:fixed;
    top:240px;
    left:590px;
    width:250px;
    font-size:35px;
    font-weight:800;
    font-family:got_regular;
    color:#3bd3eb;
}
.logo_linux_word_main{
    color:white;
}

.logo_picture_main{
    position:fixed;
    top:247px;
    left:724px;
    height:66px;
}


/*для формы входа*/
.log_in_form_block{
    position:fixed;
    left:657px;
    top:200px;
    width:500px;
    height:350px;
}
#log_form{
    position:fixed;
    left:770px;
    top:310px;
}
#log_1{
    width:260px;
    height:25px;
}
#log_2{
    width:260px;
    height:25px;
}
#login_submit{
    position:fixed;
    left:770px;
    top:423px;
    background:#33b1c7;
    color:white;
    height:51px;
    width:264px;
    border:none;
    background:url(images/fon_log_in_button.png) !important;
}
#log_head{
    position:fixed;
    left:855px;
    top:260px;
    font-size:30px;
    font-weight:900;
    color:#3bd3eb;
}
/*кнопка выхода*/
#log_out_submit{
    position:fixed;
    left:55px;
    bottom:29px;
    color:white;
    height:51px;
    width:250px;
    border:none;
    background:url(images/fon_log_in_button.png) !important;
}
/*регистрация*/
.reg_form_block{
    position:fixed;
    left:647px;
    top:155px;
    width: 520px;
    height:430px;
}
#reg_form{
    position:fixed;
    left:770px;
    top:280px;
}
#reg_1{
    width:260px;
    height:25px;
}
#reg_2{
    width:260px;
    height:25px;
}
#reg_3{
    width:260px;
    height:25px;
}
#reg_submit{
    position:fixed;
    left:770px;
    top:440px;
    color:white;
    height:51px;
    width:264px;
    border:none;
    background:url(images/fon_log_in_button.png) !important;
}
#reg_head{
    position:fixed;
    left:845px;
    top:230px;
    font-size:30px;
    font-weight:900;
    color:#3bd3eb;
}
.fonts_fix{
    font-family:got_light;
    font-size:22px;
    font-weight:600;
    letter-spacing:0.1em;
}
/*сообщения и ошибки*/
#messages{
    position:fixed;
    top:20px;
    right:10px;
    color:white;
    text-align:left;
}
/*кнопки перехода на регистрацию и вход*/
#to_reg_from_main{
    position:fixed;
    left:55px;
    bottom:29px;
    color:white;
    text-decoration: none;
    border:none;
    height:51px;
    width:250px;
    background:url(images/fon_registration_button.png) !important;
}
#to_log_from_main{
    position:fixed;
    left:55px;
    bottom:90px;
    color:white;
    height:51px;
    width:250px;
    border:none;
    background:url(images/fon_log_in_button.png) !important;
}
/*Progress page*/
.progress_score_block{
    position:fixed;
    left:460px;
    top:60px;
    height:430px;
}
.progress_info_block{
    position:fixed;
    left:790px;
    top:60px;
    height:430px;
}
.progress_your_progress_block{
    position:fixed;
    left:460px;
    top:460px;
    height:260px;
    width:830px;
}
.progress_main_text{
    font-size:30px;
    font-weight:900;
    color:#3bd3eb;
}
/*блок счет и рейтинг*/
.progress_block_1{
    position:fixed;
    left:520px;
    top:120px;
    height:430px;
    width:220px;
    font-family:got_light;
    font-size:22px;
    font-weight:600;
    color:white;
}
#your_score_main_text{
    position:absolute;
    left:27px;
}
#score_value{
    font-size:53px;
    position:absolute;
    left:60px;
    top:45px;
}
#rating_main_text{
    position:absolute;
    left:57px;
    top:120px;
}
.raiting_list_names{
    position:absolute;
    top:170px;
}
.r_l_n{
    margin-bottom:10px;
}
.raiting_list_score{
    position:absolute;
    top:170px;
    right:0px;
}
/*блок информация о баллах*/
.progress_block_2{
    position:fixed;
    left:855px;
    top:120px;
    height:430px;
    width:370px;
    font-family:got_light;
    font-size:22px;
    font-weight:600;
    color:white;
}
#scoring_information_main_text{
    position:absolute;
    left:27px;
}
.info_list_text{
    position:absolute;
    top:80px;

}
.info_list_points{
    position:absolute;
    top:80px;
    right:0px;
}
.l_info{
    margin-bottom:15px;
}
.l_infop{
    margin-bottom:15px;
}
/*блок информация о прогрессе, правильных ответах в процентах и пройденных уроках*/
.progress_block_3{
    position:fixed;
    left:530px;
    top:510px;
    height:170px;
    width:680px;
    font-family:got_light;
    font-size:22px;
    font-weight:600;
    color:white;
}
#list_your_progress{
    position:absolute;
    top:45px;
}
#list_your_progress_per{
    position:absolute;
    top:45px;
    right:0px;
}
.list_progr{
    margin-bottom:12px;
}


/*Уроки*/
.lesson_block{
    position:fixed;
    left:150px;
    top:30px;
    width:1400px;
    height:700px;
}
.lesson_head{
    position:fixed;
    left:270px;
    top:100px;
    font-size:35px;
    font-weight:800;
    font-family:got_regular;
    color:#3bd3eb;
    z-index:4;
}
.left_button{
    position:fixed;
    left:210px;
    top:320px;
}
.right_button{
    position:fixed;
    left:710px;
    top:320px;
}
.lesson div{
    position:fixed;
    left:300px;
    top:200px;
    width:400px;
    height:700px;
    display:none;
    font-family: got_light;
    font-size: 20px;
    font-weight: 500;
    color:white;
}
.lesson div:first-child{
    display:block;
}
.code_text{
    color:#3bd3eb;
    font-family:courier_new;
}
.highlighted_text{
    color:#3bd3eb;
    font-family:roboto;
}
.finish_lessons_button_style{
    position:fixed;
    left:330px;
    top:340px;
    color:white;
    text-decoration: none;
    border:none;
    height:51px;
    width:300px;
    font-family: got_light;
    font-size: 22px;
    font-weight: 600;
    background:url(images/enter_commands.png) !important;
}

/*console*/
#console_blackblock{
    position:fixed;
    left:780px;
    top:100px;
    width:680px;
    height:470px;
    background:black;
    border-style: solid;
    border-color:#523893;
}
#command_input{
    position:fixed;
    background:black;
    border-style: solid;
    border-color:#523893;
    width:680px;
    height:30px;
    top:540px;
    left:780px;
    color:#33b1c7;
    font-family: courier_new;
}
#console_output{
    position:fixed;
    left:780px;
    top:100px;
    width:680px;
    height:440px;
    color:#33b1c7;
    border-style: solid;
    border-color:#523893;
    font-family: courier_new;
    overflow-y: scroll;
}
.output_command_p{
    padding-left:10px;
}



#console_blackblock #console_ouput p #comand{
    color:green;
}
.enter_submit{
    position:fixed;
    left:1162px;
    top:600px;
    color:white;
    height:51px;
    width:300px;
    border:none;
    background:url(images/enter_commands.png) !important;
    font-family:got_light;
    font-size:22px;
    font-weight:600;
}

/*шрифты*/
@font-face{
    font-family:'Raleway';
    src:url(fonts/Raleway-Thin.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family:'got_bold';
    src:url(fonts/GothamPro-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family:'got_regular';
    src:url(fonts/GothamPro.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family:'got_light';
    src:url(fonts/GothamPro-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family:'got_medium';
    src:url(fonts/GothamPro-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family:'courier_new';
    src:url(fonts/courier_new.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family:'roboto';
    src:url(fonts/roboto.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}