{%include "riddles/base_for_lessons.html"%}


{%block body%}
<div class="lesson_head">Lesson 1 - Itroduction</div>
<div class="lesson">
    <div>
        В данном уроке мы познакомим вас с <span class="highlighted_text">Linux</span> консолью, покажем, как с ней работать, а также поподробнее расскажем о том, что вас ждет в следующих уроках.<br><br>
        Чтобы переключаться между страницами урока, нажмите стрелочки <span class="highlighted_text">вправо-влево</span>.<br><br>
    </div>
    <div>
        <span class="highlighted_text">Linux</span> — это операционная система, которая используется в работе множества систем от лампочек до оружия, от ноутбуков до крупных вычислительных центров.
        Весь наш курс посвящен работе с командами Linux, и возникает вопрос : Зачем они существуют?
    </div>
    <div>
        Вводя их в консоль, пользователь может оперативно совершать массу действий:
        открытие, перемещение и копирование файлов, просмотр различной информации и статистики, мониторинг и отладка, получение подробной информации о системе, видоизменение программной и визуальной части
        системы.<br><br> И это лишь часть возможностей, которые вы получаете, благодаря этим командам.
    </div>
    <div>
        Знание основных команд действительно важно, поэтому в следующих уроках мы разделили их на основные смысловые группы:<br><br>
        -для управления <span class="highlighted_text">файлами</span><br><br>
        -для <span class="highlighted_text">навигации</span> в терминале<br><br>
        -для управления <span class="highlighted_text">процессами</span>, <span class="highlighted_text">пользователями</span> и <span class="highlighted_text">сетью</span><br><br>
        -для работы с <span class="highlighted_text">текстом</span><br><br>
        -команды <span class="highlighted_text">окружения пользователя</span>
    </div>
    <div>
        Справа представлена <span class="highlighted_text">консоль</span>, с которой вам предстоит работать в течении курса.
        Как это происходит?
        У каждого пользователя есть своя папка, с которой и работает наша консоль, берет оттуда файл, создает их там, меняет или удаляет их.<br><br>
        Для начала познакомим вас с одной из основных и необходимых команд: <span class="highlighted_text">pwd</span>.
    </div>
    <div>
        Она отобразит ваше текущее местоположение.<br><br>
        Попробуйте ввести:<br><br>
        <span class="code_text">pwd</span><br><br>
        Нажмите кнопку “<span class="highlighted_text">Отправить</span>” под консолью.<br><br>
        Если все верно, вы увидите такой вывод: <span class="highlighted_text">/home/ваше_имя_пользователя</span>.
    </div>
    <div>
        Если вам вывелось: <span class="highlighted_text">command not found</span> - вы ввели неверную команду(кстати это вычитает баллы из вашего счета).<br><br>
        Если вам вывелось: <span class="highlighted_text">command is not allowed:(</span> - вы ввели запрещенную команду, которую нельзя ввести в эту консоль, но вы можете
        спокойно ими пользоваться в будущем в своей собственной консоли.
    </div>
    <div>
        Это конец вводного урока. Далее после каждого урока вас будет ждать тестовое задание, за которое тоже будут начисляться баллы!<br><br>
        Для завершения урока нажмите кнопку “<span class="highlighted_text">завершить урок</span>” ниже. <br><br>Удачи в обучении!<br><br>
        Перелистните страничку и нажмите кнопку "завершить урок", чтобы урок дал вам баллы!
    </div>
    <div>
        <form  method = 'POST' id="finish_lessons">
            {%csrf_token%}
            <input type = submit class="finish_lessons_button_style" name="hh" value="Закончить урок">
        </form>
    </div>



</div>



{%endblock%}