{%include "riddles/base_for_lessons.html"%}


{%block body%}
<div class="lesson_head">Lesson 6 - User <br>environment commands</div>
<div class="lesson">
    <div>
        В этом уроке мы вас научим командам для работы с окружением пользователя.
        <h2><span class="code_text">#sudo</span></h2>
        Команда <span class="highlighted_text">sudo</span> предназначена для запуска команд от имени <span class="highlighted_text">суперпользователя</span>, а
        также от имени других пользвователей. Это аналог администратора в Windows. Благодаря ей вы можете исполнять любые команды.
    </div>
    <div>
        Правила, используемые sudo для принятия решения о предоставлении доступа, находятся в файле <span class="highlighted_text">/etc/sudoers</span>.<br><br>
        При первом использовании sudo в сеансе нужно ввести пароль пользователя, и
        команда будет выполнена от имени пользователя <span class="highlighted_text">root</span>. <br><br>У суперпользователя имеется возможность запрещать
        и разрешать определённым пользователям выполнение каких-то программ,
        а также
    </div>
    <div>
        разрешить выполнение определённых программ без необходимости ввода своего пароля.<br><br>
        В целях безопасности в данном уроке вы не сможете ей воспользоваться.<br><br>
        Синтаксис: <span class="highlighted_text">sudo опции команда параметры</span>
    </div>
    <div>
        Например, чтобы выполнить команду <span class="highlighted_text">whoami</span> от имени root(суперользователя), необходимо ввести:<br><br>
        <span class="highlighted_text">sudo whoami</span><br><br>
        Вы увидите на экране root, т.к. команда whoami выводит на экран имя пользователя, который ввел эту команду.
    </div>
    <div>
        <h2><span class="code_text">#date</span></h2>
        Команда <span class="highlighted_text">date</span> отображает или устанавливает системную дату.
        Вывод будет включать день недели, месяц, день месяца, время, часовой пояс и год.
        Дату можно форматировать в зависимости от ваших потребностей: вывести год, месяц, день,
        установить 12-ти или 24-ти часовой формат, получить наносекунды или номер недели.
    </div>
    <div>
        Например, если вы введете <span class="highlighted_text">date + "Год: %Y, Месяц: %m, День: %d"</span>,
        cимвол %Y будет заменен на год, %m на месяц и %d на день месяца: Год: 2020, Месяц: 06, День: 02<br><br>
        Попробуйте ввести:<br><br>
        <span class="code_text">date + "Текущий год: %Y, месяц: %m, день: %d"</span><br><br>
        Вы увидите дату в вашем уникальном формате.
    </div>
    <div>
        <h2><span class="code_text">#alias</span></h2>
        Команда создаёт синонимы для других команд Linux.
        То есть вы можете делать новые команды или группы команд, а также
        переименовывать существующие. Это очень удобно для сокращения длинных команд,
        которые вы часто используете, или создания более понятных имен для команд, которые вы
        используете нечасто и не можете запомнить.
    </div>
    <div>
        Чтобы посмотреть какие псевдонимы linux команд уже заданны в вашей системе просто введите: <span class="highlighted_text">alias</span><br><br>
        Для того, чтобы создать синонимы необходимо ввести: <span class="highlighted_text">alias новоеимя='староеимя'</span><br><br>
        Отменить действие утилиты переименования поможет команда <span class="highlighted_text">unalias</span><br><br>
        Попробуйте ввести:<br><br>
        <span class="code_text">alias</span>
    </div>
    <div>
        <h2><span class="code_text">#uname</span></h2>
        Утилита, выводящая информацию об операционной системе.
        Без параметров она не покажет ничего полезного, кроме строчки Linux,
        но, если задать параметр <span class="highlighted_text">-a</span> , можно получить информацию о ядре, имени хоста и узнать архитектуру процессора.
    </div>
    <div>
        Попробуйте ввести:<br><br>
        <span class="code_text">uname -a</span><br><br>
        Вы увидите всю возможную информацию о данной операционной системе.
    </div>
    <div>
        <h2><span class="code_text">#uptime</span></h2>
        Данная команда сообщает вам время работы системы.
        Попробуйте ввести:<br><br>
        <span class="code_text">uptime</span><br><br>
        Вы увидите системное время, время, в течение которого работала система, количество зарегестрированных пользователей,
        средние значения загрузки системы за последние 1,5 и 15 мин.
    </div>
    <div>
        <h2><span class="code_text">#sleep</span></h2>
        Данная команда вводит задержку на указанное время.<br><br>
        Синтаксис: <span class="highlighted_text">sleep время[суффикс]</span><br><br>
        Таким образом, если вы используете команду <span class="highlighted_text">sleep</span> с временем(с суффиксом или без) Z,
        следующая команда может быть запущена только через Z времени.
    </div>
    <div>
        Команда sleep без суффикса считается в секундах.
        Здесь суффикс может быть:<br><br>
        <span class="highlighted_text">s</span> - секунды(по умолчанию)<br><br>
        <span class="highlighted_text">m</span> - минуты<br><br>
        <span class="highlighted_text">h</span> - часы<br><br>
        <span class="highlighted_text">d</span> - дни<br><br>
        Например <span class="highlighted_text">sleep</span> 1h 10m 5s заставит вас ждать 1 час 10 минут и 5 секунд.
    </div>
    <div>
        Попробуйте ввести последоваетельно следцющий код:<br><br>
        <span class="code_text">echo "Hello before"</span><br><br>
        <span class="code_text">sleep 5</span><br><br>
        <span class="code_text">echo "Hello after"</span><br><br>
        Можно заметить, что между выводами на экран есть большой промежуток времени, равный 5 секундам.
    </div>
    <div>
        <h2><span class="code_text">#yes</span></h2>
        Утилита автозаполнения поля согласия в команде или скрипте.
        Если ввести «<span class="highlighted_text">yes название_команды</span>», вам не придётся делать подтверждение вручную,
        когда этого потребует сценарий взаимодействия программы с пользователем.
    </div>
    <div>
        <form  method = 'POST' id="finish_lessons">
            {%csrf_token%}
            <input type = submit class="finish_lessons_button_style" name="hh" value="Закончить урок">
        </form>
    </div>
</div>

{%endblock%}