{%extends "riddles/base.html"%}

{%block body%}
    {%if name_flag is None%}
        <div id = "log_form_block">
            <div id = "log_head">Log in</div>
            <form action = '' method = 'POST'>
                <div id = "log_form">
                    {%csrf_token%}
                    <p>{{logform.log_login}}</p>
                    <p>{{logform.log_password}}</p>
                </div>
                <input type = submit value = 'Log in' id = "login_submit" class = "fonts_fix">
            </form>
            <form action="/reg/">
                <button id = "to_reg_from_log_button" class = "fonts_fix">Registration</button>
            </form>
        </div>
    {%endif%}
{%endblock%}