{%extends "riddles/navbar.html"%}

{%block body%}
        <img src="../static/images/fon_block_log_in.png" class="log_in_form_block" alt="">
            <div id = "log_head">Log in</div>
            <form action = '/login/' method = 'POST'>
                <div id = "log_form">
                    {%csrf_token%}
                    <p>{{logform.log_login}}</p>
                    <p>{{logform.log_password}}</p>
                </div>
                <input type = submit value = 'Log in' id = "login_submit" class = "fonts_fix">
            </form>
{%endblock%}