{%extends "riddles/navbar.html"%}



{%block body%}
<img src="../static/images/fon_main.png" id="fon_main" alt="">
<div class = "logo_main">LEARN <div class = "logo_linux_word_main">LINUX</div> CONSOLE</div>
<img src="../static/images/logo_picture.png" class="logo_picture_main" alt="">
<div id ="main_block_1" class = "main_block_fonts">
    - Ваше личный учитель Linux команд<br>
    - Мгновенная проверка заданий<br>
    - Отслеживание прогресса
</div>
<div id ="main_block_2" class = "main_block_fonts">
    Зарегестрируйтесь, авторизируйтесь и приступайте к первому уроку! А свой прогресс Вы сможете отследить во вкладке Progress
</div>

{%endblock%}